.all-works {

	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 25px;

	&__btn {
		appearance: none;
		padding: 10px 36px;
		border: 2px solid #ff5274;
		background-color: transparent;
		cursor: pointer;
		width: auto;
      color: #ff5274;
		position: relative;
		display: inline-block;

		&:hover {
         background: #ff5274;
         color: #FFF;
         border-color: #ff5274;
		}
	}
}
