
.product-benefit {

	overflow: hidden;

	&-list {
		margin: 0 0 40px !important;
		padding: 0 !important;
		list-style: none !important;

		@include res(s){
			margin: 0 0 25px !important;
		}

		&__item {
			margin-bottom: 15px;
			display: flex;
			align-items: center;
		}

		&__logo {
			background: #fff;
			border-radius: 50%;
			padding: 5px;
			overflow: hidden;
			margin: 0 10px 0 0;
			height: 45px;
			width: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__logo-icon {
			display: block;
			max-width: 35px;
			height: auto;
		}

		&__text {
			margin: 0;
			flex: 1;
		}
	}
}


.product-benefit__right {

	@include res(s){
		min-height: 670px;
	}

	@media (max-width: 600px) {

		min-height: auto;

		.product-benefit__image {
			position: static;
		}

		.image {
			width: 80%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}

	@media (max-width: 480px) {

		.image {
			width: 100%;
		}
	}

}