.wpcf7-form {

	p {
		margin: 0;
	}
}


html {

	.wpforms-container {

		.wpforms-field-container {
			background: #f5f5f5;
			-webkit-box-shadow: 0 2px 15px 0 rgba(166, 191, 207, 0.5);
			box-shadow: 0 2px 15px 0 rgba(166, 191, 207, 0.5);
			overflow: hidden;
			margin: 9px 0 18px;
			padding: 25px 50px 33px 50px;
		}

		.wpforms-field-label {
			font-size: 28px;
			margin: 0 0 22px;
		}

		.wpforms-image-choices {
			display: flex !important;
			gap: 0 !important;
		}

		.wpforms-image-choices-modern li.wpforms-image-choices-item {
			width: 33.3%;
			margin: 0 !important;
		}
	}

}

.wpforms-image-choices {
	overflow: hidden;
}
.wpforms-image-choices-item {
	width: 33.3%;
	float: left;
}
